/* .leaflet-container {
    height: 1050px;
} */

/* .leaflet-top.leaflet-left {
    display: none;
} */
.leaflet-div-icon {
    background-color: unset;
    border: unset;
}
/* .marker-cluster-small {
    color: white;
    background-color: #09006E;
}
.marker-cluster-small div {
    color: white;
    background-color: #09006E;
}
.marker-cluster-medium {
    color: white;
    background-color: #09006E;
}
.marker-cluster-medium div {
    color: white;
    background-color: #09006E;
}
    
.marker-cluster-large {
    color: white;
    background-color: #09006E;
}
.marker-cluster-large div {
    color: white;
    background-color: #09006E;
} */

.background-color-miners {
    color:white;
    background-color:#461AB2;
}
.background-color-miners div {
    color:white;
    background-color:#461AB2;
}

.background-color-lpwan {
    color:white;
    background-color: #98A6AD;
}
.background-color-lpwan div {
    color:white;
    background-color: #98A6AD;
}