@import "settings/__settings";
@import "util/__util";
@import "components/__components";
@import "pages/__pages";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-default;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: unset !important;
  right: 0 !important;
  z-index: 1006;
  min-width: 64px !important;
  background: #050319 !important;
  -webkit-transition: min-width 0.2s;
  -moz-transition: min-width 0.2s;
  -o-transition: min-width 0.2s;
  -ms-transition: min-width 0.2s;
  transition: min-width 0.2s;
} 

main {
  padding: 2em 0;
}