@import "settings/__settings";
@import "util/__util";
@import "components/__components";
@import "pages/__pages";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-default;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@mixin media-gte-sm {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lt-sm {
  @media screen and (max-width: 768px) {
    @content;
  }
}

nav {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0 !important;
  z-index: 1006;
  min-width: 64px !important;
  background: #050319 !important;
  -webkit-transition: min-width 0.2s;
  -moz-transition: min-width 0.2s;
  -o-transition: min-width 0.2s;
  -ms-transition: min-width 0.2s;
  transition: min-width 0.2s;
  
  @include media-gte-sm {
    /* on tablets and above: attach to right-hand side */
    left: unset !important;
  }
} 

.nav-collapsed {
  @include media-lt-sm {
    /* on mobile, retract height */
    bottom: unset !important;
  }
}

main {
  padding: 2em 0;
}

.btn-flat {
  color: #00FF9D;
  background-color: #00FF9D;
  border-color: #00FF9D;
}